#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  color: aliceblue;
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

.input {
  margin-right: 20px;
  margin-top: 1px;
  margin-bottom: 25px;
  height: 20px;
}

.input-form {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 20px;
  margin-top: 1px;
  margin-bottom: 25px;
  border-radius: 3px;
  border: none;
  background-color: rgb(138, 138, 138);
  outline-color: aliceblue;
  font-size: 17px;
  color: black;
}

.input-form:focus {
  outline-style: 1px solid;
  outline-color: rgba(255, 166, 0, 0.349);
}

.span-items {
  color: rgba(255, 166, 0, 0.589);
}

.select-form {
  margin-right: 20px;
  margin-top: 1px;
  margin-bottom: 25px;
  height: 24px;
  width: 250px;
  border-radius: 3px;
  border: none;
  background-color: rgb(138, 138, 138);
  outline-color: aliceblue;
  font-size: 17px;
}

.form-products {
  display: flex;
  justify-content: center;
  align-items: center;
}

.btn-form {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  top: -10px;
  border-radius: 8px;
  color: aliceblue;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-family: inherit;
  background-color: #353536;
  cursor: pointer;
  transition: border-color 0.25s;
  width: 100px;
  height: 40px;
  text-decoration: none;
}
.btn-form:hover {
  border-color: rgb(255, 142, 4);
  transform: scale(1.2);
  border-radius: 11px;
}

.button {
  display: block;
  margin: 0 auto;
}

.ul {
  margin-bottom: 35px;
  font-size: larger;
}

.title-pages {
  margin-bottom: 30px;
}

.title {
  margin-top: 1px;
  margin-bottom: 80px;
}
.icon {
  font-size: 100px;
  text-align: center;
  margin-bottom: 1px;
}

.productos {
  display: inline-block;
  margin: 10px;
  border: 1px solid rgba(255, 166, 0, 0.349);
  box-shadow: 5px 5px 10px rgba(255, 166, 0, 0.349);
  border-radius: 6px;
}
.producto {
  display: grid;
  width: 550px;
  padding: 20px;
  font-size: 18px;
}

.Id-product {
  padding: 10px;
  color: aliceblue;
}

.description {
  margin: 5px;
  color: aliceblue;
}

.buttons-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 35px;
}

.Link {
  color: black;
  text-decoration: none;
}

.drop-Link {
  color: aliceblue;
  text-decoration: none;
}

.inputLoging {
  border-radius: 3px;
  background-color: rgb(138, 138, 138);
  font-size: 17px;
  border: none;
}

.inputLoging:focus {
  outline-style: 9px solid;
  outline-color: rgba(255, 166, 0, 0.349);
}

.btn-loggin {
  color: aliceblue;
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  margin-top: 15px;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #353536;
  cursor: pointer;
  transition: border-color 0.35s;
}
.btn-loggin:hover {
  border-color: rgb(255, 142, 4);
  transform: scale(1.2);
  border-radius: 11px;
}

.btn-logout {
  border: 2px solid aliceblue;
  background: transparent;
  color: aliceblue;
  padding: 5px 20px;
  font-size: 16px;
  border-radius: 6px;
  height: 35px;
  cursor: pointer;
  left: 4rem;
  transition: background-color 0.45s;
}

.btn-logout:hover {
  background-color: rgb(255, 142, 4);
  transform: scale(1.1);
  border-radius: 11px;
}

.btn-open {
  display: flex;
  position: relative;
  align-items: center;
  justify-content: center;
  background-color: transparent;
  border: 2px solid;
  width: 90px;
  height: 35px;
  font-size: 16px;
  color: aliceblue;
  padding: 5px 20px;
  border-radius: 6px;
  transition: background-color 0.45s;
}

.btn-open:hover {
  background-color: rgb(255, 142, 4);
  transform: scale(1.1);
  border-radius: 11px;
  color: aliceblue;
}

.LinkbuttonA {
  color: aliceblue;
  align-items: center;
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #353536;
  cursor: pointer;
  transition: border-color 0.25s;
  margin: 50px;
  text-decoration: none;
}
.LinkbuttonA:hover {
  border-color: rgb(255, 142, 4);
  transform: scale(1.2);
  border-radius: 11px;
}

.LinkbuttonR {
  color: aliceblue;
  align-items: center;
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #353536;
  cursor: pointer;
  justify-content: center;
  transition: border-color 0.25s;
  margin: 0 auto;
  display: flex;
  margin-top: 15px;
  width: 100px;
  text-decoration: none;
}
.LinkbuttonR:hover {
  border-color: rgb(255, 142, 4);
  transform: scale(1.2);
  border-radius: 11px;
}

.LinkbuttonD {
  color: aliceblue;
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #353536;
  cursor: pointer;
  transition: border-color 0.25s;
  text-decoration: none;
}
.LinkbuttonD:hover {
  border-color: rgb(255, 142, 4);
  transform: scale(1.2);
  border-radius: 11px;
}

.p-link {
  font-size: large;
  margin: 1px;
  margin-bottom: 6px;
}

.p-link :hover {
  color: orange;
}
.span-click {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  right: 40rem;
}

.TextArea {
  margin-right: 20px;
  margin-top: 1px;
  margin-bottom: 25px;
  height: 200px;
  border-radius: 4px;
  width: 800px;
  font-size: 20px;
  resize: none;
  background-color: rgba(128, 128, 128, 0.384);
  color: #ffffff;
}

.SubirArchivo {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 70px;
  padding: 100px;
  margin-block: 100px;
  border: 2px dashed rgb(207, 132, 34);
  cursor: pointer;
  border-radius: 5px;
}

.p-subir-archivo {
  padding: 30px;
  user-select: none;
}

.btn-support {
  color: aliceblue;
  align-items: center;
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #353536;
  cursor: pointer;
  justify-content: center;
  transition: border-color 0.25s;
  margin: 0 auto;
  display: flex;
  margin-top: 15px;
  width: 100px;
  text-decoration: none;
}

.ask {
  width: 300px;
}

.btn-support:hover {
  border-color: rgb(255, 142, 4);
  transform: scale(1.2);
  border-radius: 11px;
}
